
h1{
    color:rgb(36, 209, 94)
}

a{text-decoration:none;
}

a:visited{color:white}


.tacos{display:grid;
    grid-template-columns: repeat(4, 1fr);

}

h3 a:visited{color:rgb(49, 180, 16)}



header{background-color: goldenrod;}

img {
    height: 200px;
    width: 200px;

}

body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(182, 210, 247)

}

main {
    padding: 16px
}

.ingredients{color: 1px red}

footer {
    text-align:center;
    padding: 24px 0px;
    background-color: deeppink;
    width: 100%;
    position:fixed;
    bottom: 0px
}

nav{
    border-bottom: 1px black;
    padding: 16px;
    margin: 0px
}

table{border-color: 1px black}

tr:nth-child(even) {
    background-color:rgb(211, 210, 210);
}
